/* Universal */
body {
  margin: 0;
}

/* Navigation bar */
.container nav {
  z-index: 1;
}

.navigation-bar ul {
  list-style-type: none;
  margin: 0;
  background-color: rgba(34, 47, 62, 0.7);
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #10ac84;
}

/* Navigation bar // */
/* Universal // */

/* Homepage */
/* Container */
/* Header content */
.header-info {
  text-align: center;
}

#site-background {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 50em;
  z-index: -1;
  position: relative;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px;
  border-style: dashed;
  background-color: rgba(44, 44, 44, .5);
  color: white;
  font-size: 26px;
  padding: 1em;
}

/* Header content // */
/* Section content */
.startpage-text-container-1 {
  text-align: center;
  margin: 2em auto;
  border-bottom-style: solid;
  border-color: rgba(39, 39, 39, 1);
}

.startpage-img-1 img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 30em;
  margin-bottom: 1em;
}

.startpage-img-2 img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 25em;
}

@media only screen and (max-width: 705px) {
  .startpage-img-2 {
    display: none;
  }
}

.startpage-text-container-2 {
  margin: 2em;
  padding: 2em;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: rgba(39, 39, 39, 1);
}

.startpage-title-2 {
  text-align: center;
}

.startpage-text-2 {
  margin: auto 1em;
}

.startpage-img-3 img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 30em;
  margin-top: 1em;
}

.gallery-link {
  display: block;
  margin: 2em auto;
  padding: 1em 2em;
  background-color: rgba(39, 39, 39, 1);
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
}

.gallery-link:hover {
  background-color: rgba(80, 80, 80, 1);
  transition-duration: 0.4s;
}

.container3 div {
  display: flex;
}

.container3 {
  grid-gap: 5px;
  overflow: hidden;
  margin: auto 1em 1em 1em;
}

.mini-gallery-image img {
  float: left;
  width: 100%;
  height: 100%;
}

/* Section content // */
/* Footer content */
.container footer {
  display: block;
  background-color: rgba(47, 54, 64, 1);
}

.copyright-text {
  /* Universal */
  text-align: center;
  color: #9ea2a8;
}

/* Footer content // */
/* Contaner // */
/* Homepage // */
/* Gallery */
/* Header content */
.gallery-text {
  text-align: center;
  border-bottom-style: solid;
  border-color: rgba(39, 39, 39, 1);
}

/* Header content // */
/* Section content */
.container5 div a {
  display: flex;
}

.container5 {
  grid-gap: 10px;
  margin: 2em;
}

.container5 img {
  height: 100%;
  width: 100%;
}

.gallery-image:hover {
  opacity: 75%;
}

/* Section content // */
/* Footer content */
.container4 footer {
  display: block;
  background-color: rgba(47, 54, 64, 1);
}

/* Footer content // */
/* Gallery // */
