@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 0;
}

* {
  box-sizing: border-box
}

/* Universal navigation bar */
nav {
  z-index: 1;
}

.navigation-bar {
  background-color: rgba(34, 47, 62, 0.7);
}

.navigation-bar ul {
  margin: 0;
  list-style-type: none;
  overflow: hidden;
}

.navigation-bar li {
  float: right;
}

.navigation-bar li a {
  display: block;
  padding: 14px 16px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.navigation-bar li a:hover {
  background-color: rgba(16, 172, 132, 0.9);
}

.navigation-bar img {
  float: left;
  border-radius: 50%;
  height: 49px;
  width: auto;
  margin: 0 0 0 0.5em;
}

.navigation-bar img:hover {
  opacity: 0.8;
}

/* Universal navigation bar // */
/* Homepage */
/* Container */
/* Header content */
.startpage-header {
  text-align: center;
}

#site-background {
  display: block;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 50em;
  z-index: -1;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 26px;
  padding: 1em;
  border: 10px;
  border-style: dashed;
  background-color: rgba(44, 44, 44, .5);
}

/* Header content // */
/* Section content */
.startpage-text-container-1 {
  text-align: center;
  margin: 2em auto;
  border-bottom-style: solid;
  border-color: rgba(39, 39, 39, 1);
  color: rgba(25, 25, 25, 1);
}

.startpage-img-1 img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 30em;
  margin-bottom: 1em;
}

.startpage-img-2 img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 25em;
}

@media only screen and (max-width: 705px) {
  .startpage-img-2 {
    display: none;
  }
}

.startpage-text-container-2 {
  margin: 2em;
  padding: 2em;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: rgba(39, 39, 39, 1);
  color: rgba(25, 25, 25, 1);
}

.startpage-title-2 {
  text-align: center;
}

.startpage-text-2 {
  margin: auto 1em;
}

.startpage-img-3 img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 30em;
  margin-top: 1em;
}

.gallery-link {
  display: block;
  margin: 2em auto;
  padding: 1em 2em;
  background-color: rgba(39, 39, 39, 1);
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
}

.gallery-link:hover {
  background-color: rgba(80, 80, 80, 1);
  transition-duration: 0.4s;
}

.container3 div {
  display: flex;
}

.container3 {
  grid-gap: 5px;
  overflow: hidden;
  margin: auto 1em 1em 1em;
}

.mini-gallery-image img {
  float: left;
  width: 100%;
  height: 100%;
}

/* Section content // */
/* Footer content */
/* Universal */
footer {
  display: block;
  background-color: rgba(47, 54, 64, 1);
  overflow: auto;
}

footer a {
  display: block;
  margin: 1em auto;
  padding: 1em 2em;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  width: 10em;
}

footer a:hover {
  background-color: #353b48;
  transition-duration: 0.4s;
}

.copyright-text {
  text-align: center;
  color: #9ea2a8;
}

/* Universal // */
/* Footer content // */
/* Contaner // */
/* Homepage // */
/* Gallery */
/* Header content */
.gallery-text-container {
  text-align: center;
  border-bottom-style: solid;
  border-color: rgba(39, 39, 39, 1);
  margin: 2em 4em 0 4em;
}

@media only screen and (max-width: 705px) {
  .gallery-text-container {
    font-size: 75%;
  }
}

.gallery-title {
  font-size: 2.5em;
  color: rgba(25, 25, 25, 1);
  margin: 0;
}

.gallery-text {
  color: rgba(50, 50, 50, 1);
  margin: 0.75em auto;
}

/* Header content // */
/* Section content */
.container5 {
  grid-gap: 10px;
  margin: 2em;
}

.container5 img {
  display: block;
  height: auto;
  width: 100%;
}

.container5 img:hover {
  opacity: 75%;
}

/* Section content // */
/* Gallery // */
/* About */
/* Header content */
.name-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Header content // */
/* About Section */
.about-text-container-1 {
  display: inline-block;
  margin: 0 1em 2em 1em;
  padding: 0 4em 2em 4em;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: rgba(39, 39, 39, 1);
  color: rgba(25, 25, 25, 1);
}

.about-title-1 {
  text-align: center;
  font-size: 30px;
}

.about-text-1 {
  display: inline-block;
  margin: auto;
  width: 100%;
}

/* About Section // */
/* Javascript */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  height: auto;
  margin: auto 1em 1em 1em;
  width: calc(100% - 2em);
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* Javascript // */
/* About // */
.other-text-container {
  text-align: center;
  border-bottom-style: solid;
  border-color: rgba(39, 39, 39, 1);
  margin: 2em 4em 0 4em;
}

@media only screen and (max-width: 705px) {
  .other-text-container {
    font-size: 75%;
  }
}

.other-title {
  font-size: 2.5em;
  color: rgba(25, 25, 25, 1);
  margin: 0;
}

.other-text {
  color: rgba(50, 50, 50, 1);
  margin: 0.75em auto;
}

.other-image-container {
  position: relative;
  box-sizing: content-box;
  margin: 5em 0;
}

.other-image {
  width: 100%;
  height: 25em;
  object-fit: cover;
  max-width: 100%;
}

.other-image-container .image-overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 25em;
  color: #FFF;
  background: rgba(0, 0, 0, .4);
}

.other-img-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  letter-spacing: 1px;
}

.other-image-title {
  color: rgba(255, 255, 255, 1);
  font-size: 86px;
  margin: 0;
}

@media only screen and (max-width: 705px) {
  .other-image-title {
    font-size: 46px;
  }
}

.other-image-text {
  color: rgba(200, 200, 200, 1);
  font-size: 28px;
  margin-bottom: 1em;
}

@media only screen and (max-width: 705px) {
  .other-image-text {
    font-size: 18px;
  }
}

.instagram-link {
  color: rgba(200, 200, 200, 1);
  border: 2px solid rgba(200, 200, 200, 1);
  padding: 0.25em 0.5em;
  text-decoration: none;
  margin: 0.25em auto;
  box-sizing: content-box;
  display: inline-block;
}

.instagram-link:hover {
  background-color: rgba(200, 200, 200, 0.9);
  color: rgba(25, 25, 25, 1);
}